body{
    background-color: white;
}
#area{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align:center;
    box-shadow: 0 2px 5px rgb(0,0,0,0.35);
    padding: 15px;
    background-color :wheat;
    border-radius: 10px;
}

#avatar_img{
    border: 2px solid #1f1f1f;
    border-radius: 50%;
    size: 80%;
}

#icons_img{
  width: 45px;
  height: 40px;
  border-radius: 50%;
}